hr {
    border-bottom: 1px solid lightgray;
}

.LogElementWrapper > div {
    padding: 0 20px;
    display: flex;
    overflow: hidden;
}

.complex-badge {
    background-color: #3C4252;
    padding: 5px;
    color: white;
    border-radius: 6px;
}

.browserIcon {
    font-size: 14px;
    color: #3C4252;
    margin: auto 20px;
}

.fa-chrome::after {
    content: 'Google chrome';
    margin-left: 10px;
}

.fa-dev::after {
    content: 'Development environment';
    margin-left: 10px;
}

.fa-safari::after {
    content: 'Safari';
    margin-left: 10px;
}